.organization-section {
  background: url(../img/bg-main.jpg);
  padding-bottom: 60px;
  padding-top: 80px;

  @include max1280 {
    padding-bottom: 35px;
  }

  @include max600 {
    padding-top: 35px;
  }

  &__title {
    margin-bottom: 25px;

    @include max1280 {
      margin-bottom: 15px;
    }

    @include max600 {
      margin-left: auto;
      line-height: 1.2;
      margin-bottom: 30px;

      padding-left: 60px;
      .padding-left{
        padding-left: 0;
        margin-left: -60px;
      }
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 60px;

    @include max1440 {
      margin-bottom: 45px;
      line-height: 1.7;
    }

    @include max1280 {
      margin-bottom: 32px;
    }

    @include max600 {
      line-height: 1.6;
      margin-bottom: 40px;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}




