<!-- advantages-section -->
<section class="advantages-section">
  <ul class="list-reset advantages-section__items">
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Предложения</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Сюрпризы</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Годовщины</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Свидания</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Извинения</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Дни рождения</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Поздравления</a></li>
    <li class="advantages-section__item"><a href="#" class="advantages-section__link">Гендер пати</a></li>
  </ul>
</section>
<!-- End advantages-section -->
