<!-- Header -->

<header class="header">
  <div class="container">
    <div class="header__mobile nav">
      <div class="nav__top">
        <a href="#"  class="logo">
          <img loading="lazy" src="img/MOMENTS.svg" width="232" height="60" alt="MOMENTS">
        </a>

        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger><span class="burger__line"></span></button>
      </div>

      <nav class="nav__block" data-menu>
        <div class="nav__container scrollbar">
          <ul class="header__list list-reset">
            <li class="header__item">
              <a href="#" class="header__link">Предложения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Сюрпризы</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Годовщины</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Свидания</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Извинения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Дни рождения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Поздравления</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Предложения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Гендер пати</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Выписка из роддома</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Извинения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Дни рождения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Поздравления</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Предложения</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Гендер пати</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Выписка из роддома</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

  </div>
</header>

<!--End Header -->
