<main class="main main--bg-bottom">
  <picture class="main__bg">
    <source srcset="img/home-main--mobile.webp" type="image/webp" media="(max-width: 600px)" width="390" height="580" alt="img">
    <source srcset="img/home-main.webp" type="image/webp" media="(max-width: 1024px)" width="1920" height="1067" alt="img">
    <img loading="lazy" src="img/home-main.jpg" class="image" width="1920" height="1067" alt="img">
  </picture>
  <ul class="main__inner list-reset container">
    <li class="main__content main__content--blur">
      <h1 class="title-h1 title-h1--mb">Организация ваших лучших эмоций</h1>
      <p class="text-basic text-basic--left">Профессионально воплотим в жизнь праздник вашей мечты</p>
      <div class="btn main__decor btn--bg-basic"><span></span></div>
    </li>
    <li class="main__block call call--right">
      <div class="call__line"></div>
      <a href="tel:+79991112233" class="call__link">
        <svg class="call__icon">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </a>
    </li>
  </ul>


</main>
