<!-- organization-section -->
  <section class="organization-section">
    <div class="container">
      <div class="organization-section__inner">
        <h2 class="organization-section__title title-h2 title-h2--bg">
          <span class="title-h2__padding padding-left">организация</span>
          такого важного
          <span class="title-h2__padding padding-left">мероприятия <strong>-</strong></span>
        </h2>

        <div class="organization-section__text text-basic">
          <p>это искусство , процесс, в котором всё должно быть идеально организованно, учтены все детали,</p>
          <p class="text-basic__padding padding-left">предпочтения, чтобы получился максимально эмоциональный</p>
          <p class="text-basic__padding padding-left">и неожиданный результат!</p>
        </div>

        <button class="organization-section__btn btn btn-reset btn--hover btn--bg-basic"><span>Выбрать сценарий</span></button>
      </div>
    </div>
  </section>
<!-- End organization-section -->
