<section class="questions-section section-margin">
  <div class="container">
    <div class="questions-section__inner">
      <h2 class="questions-section__title title-h2">
        <span class="title-h2__padding padding-left">Почему стоит </span>
        работать именно с нами ?
      </h2>

      <ul class="list-reset questions-section__items number-big">
        <li class="questions-section__item number-big__item text-basic padding-left"><span>Предложим до 10 оригинальных сценариев по мотивам вашей истории отношений</span></li>
        <li class="questions-section__item number-big__item text-basic padding-left"><span>Договоримся сделать ваше предложение там, где обычно запрещено</span></li>
        <li class="questions-section__item number-big__item text-basic padding-left"><span>Согласуем для вас ‘'особые условия’' с популярной площадкой или известным артистом</span></li>
        <li class="questions-section__item number-big__item text-basic padding-left"><span>Доработаем детали вашего сценария так, чтоб для у девушки не закралось ни единого подозрения, что она здесь главный герой</span></li>
        <li class="questions-section__item number-big__item text-basic padding-left"><span>Сохраним в безопасности конфиденциальную информацию о вас и вашем мероприятии</span></li>
        <li class="questions-section__item number-big__item text-basic padding-left"><span>Все этапы от разработки и режиссирования сценария до воплощения идеи в жизнь берем на себя</span></li>
      </ul>
      <button class="questions-section__btn btn btn--border-dark btn-reset btn--hover btn--bg-basic btn--bg-dark"><span>Выбрать сценарий</span></button>
    </div>
  </div>
</section>
